@charset "utf-8";

.center {
    margin: 0 auto;
    text-align: center;
}

.column {
    display: inline-block;
    /*width: 45%;*/
    margin: 0 24px;
    vertical-align: middle;
}

.blockly-container {
    width: 600px;
    height: 600px;
}

.game-container {
    width: 600px;
    height: 600px;
}

.blockly-controls .label {
    float: left;
}

.blockly-controls button {
    float: right;
}

/*#blockly-outer {*/
/*    float: left;*/
/*    width: 600px;*/
/*    padding: 0;*/
/*    margin: 16px;*/
/*    border: 0;*/
/*    text-align: center;*/
/*}*/

/*#blockly-inner {*/
/*    width: 600px;*/
/*    height: 600px;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    border: 0;*/
/*}*/

/*#game-container {*/
/*    float: left;*/
/*    margin: 16px;*/
/*}*/
